@media only screen and (max-device-width: 600px) {

    /* How It Works */
    .how_works {
        background-image: url("../media/module_mob_1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 519px;
        padding-top: 80px;
    }

    .text_box {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 327px;
        margin: 125px auto 0px;
        padding-left: 0;
    }

    .how_works2 {
        background-image: url("../media/module_mob_2.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 597px;
    }

    .how_works3 {
        background-image: url("../media/module_mob_4.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 562px;
    }

    .how_works4 {
        background-image: url("../media/module_mob_3.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 536px;
    }

    .how_works5 {
        background-image: url("../media/module_mob_5.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 584px;
    }

    .text_box_even {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 327px;
        margin: auto;
        padding-top: 127px !important;
    }

        .text_box_even_w {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 327px;
        margin: auto;
        padding-top: 107px !important;
    }

    .text_box_odd {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 327px;
        margin: auto;
        padding-top: 127px;
    }


    .titt {
        color: var(--Core-purple-titles, #3B2C53);
        /* Headings/03 */
        font-family: "Josephine Cosy Bold";
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 40px */
        letter-spacing: -2px;
    }

    .subit {
        color: var(--Core-purple-body, #6A5681);

        /* P/Standard */
        font-family: "Quicksand";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 180%;
        text-align: center;
        margin-top: 16px;

        /* 28.8px */
    }

    .tit_desc {
        color: var(--Core-purple-titles, #3B2C53);
        font-family: "Josephine Cosy";
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: -1.6px;
        text-align: center;

    }

    .titt_1_w {
        color: var(--Core-White, #FFF);
        /* Headings/03 */
        font-family: "Josephine Cosy Bold";
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 40px */
        letter-spacing: -2px;
        text-align: center;
    }

    .subit_w {
        color: var(--Core-White, #FFF);

        /* P/Standard */
        font-family: "Quicksand";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 180%;
        text-align: center;
        margin-top: 16px;


        /* 28.8px */
    }

    .tit_desc_w {
        color: var(--Core-White, #FFF);
        font-family: "Josephine Cosy";
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: -1.6px;
        text-align: center;

    }

    .titt_1 {
        color: var(--Core-purple-titles, #3B2C53);
        text-align: center;
        font-family: "Josephine Cosy Bold";
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        /* 38.4px */
        letter-spacing: -1.6px;
        margin-bottom: 0px;
    }


    .btn-yello{
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1348px) {}

@media only screen and (min-device-width: 1349px) and (max-device-width: 1439px) {}

@media only screen and (min-device-width: 1440px) and (max-device-width: 1499px) {}

@media only screen and (min-device-width: 1500px) and (max-device-width: 1699px) {}

@media only screen and (min-device-width: 1800px) and (max-device-width: 1919px) {}