/* How it works */
.how_works {
  background-image: url("../media/module\ -\ hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 900px;
}

.text_box {
  display: flex;
  margin-top: 289px;
  flex-direction: column;
  width: 100%;
  max-width: 567px;
  padding-left: 96px;
}

.titt {
  color: var(--Core-purple-titles, #3b2c53);
  font-family: "Josephine Cosy Bold";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 80px */
  letter-spacing: -4px;
}

.subit {
  color: var(--Core-purple-body, #6A5681);
  font-family: "Quicksand";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  /* 28.8px */
  margin-bottom: 0px;
}

.tit_desc {
  color: var(--Core-purple-titles, #3B2C53);
  font-family: "Josephine Cosy";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2.8px;
  margin-bottom: 0px;

}

.how_works2 {
  background-image: url("../media/module\ -\ step\ 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.titt_1 {
  color: var(--Core-purple-titles, #3B2C53);
  font-family: "Josephine Cosy Bold";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 56px */
  letter-spacing: -2.8px;
  margin-bottom: 0px;

}

.tit_desc {
  color: var(--Core-purple-titles, #3B2C53);
  font-family: "Josephine Cosy";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2.8px;
  margin-bottom: 0px;

}


.text_box_odd {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 445px;
  margin-left: auto;
  margin-right: 150px;
  padding-top: 43px;
}

.text_box_even {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 445px;
  margin-left: 150px;
  margin-right: auto;
  padding-top: 43px;
}

.text_box_even_w {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 445px;
  margin-left: 150px;
  margin-right: auto;
  padding-top: 43px;
}

.how_works3 {
  background-image: url("../media/module\ -\ step\ 2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.how_works4 {
  background-image: url("../media/module\ -\ step\ 3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.how_works5 {
  background-image: url("../media/module\ -\ step\ 4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;

}

.titt_1_w {
  color: var(--Core-White, #FFF);
  font-family: "Josephine Cosy Bold";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -4px;
  margin-bottom: 0px;
}

.subit_w {
  color: var(--Core-White, #FFF);
  font-family: "Quicksand";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  /* 28.8px */
  margin-bottom: 0px;
}

.tit_desc_w {
  color: var(--Core-White, #FFF);
  font-family: "Josephine Cosy";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2.8px;
  margin-bottom: 0px;

}

.btn-yello {
  display: flex;
  height: 56px;
  padding: 16px 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--Core-yellow, #FFCE3C);
  color: var(--Core-Secondary-Purple, #5A3384);
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 0px;
  width: 100%;
  max-width: 166px;
  margin-top: 24px;
}

.btn-yello:hover {
  display: flex;
  height: 56px;
  padding: 16px 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--Core-yellow, #FFCE3C);
  color: var(--Core-Secondary-Purple, #5A3384);
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 0px;
  width: 100%;
  max-width: 166px;
  border: 5px solid #e0a800;  /* golden border */
  cursor: pointer;
  transition: all 0.3s ease;
}


.img_chest {
  position: absolute;
  right: 214px;
  bottom: 20px;
}