/* How it works */
.how_works {
  background-image: url("../media/module\ -\ hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 900px;
}

.text_box {
  display: flex;
  margin-top: 289px;
  flex-direction: column;
  width: 100%;
  max-width: 567px;
  padding-left: 96px;
}

.titt {
  color: var(--Core-purple-titles, #3b2c53);
  font-family: "Josephine Cosy Bold";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 80px */
  letter-spacing: -4px;
  margin-bottom: 16px;

}

.subit {
  color: var(--Core-purple-body, #6A5681);
  font-family: "Quicksand";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  /* 28.8px */
  margin-bottom: 0px;
}

.tit_desc {
  color: var(--Core-purple-titles, #3B2C53);
  font-family: "Josephine Cosy";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2.8px;
  margin-bottom: 16px;

}

.how_works2 {
  background-image: url("../media/module\ -\ step\ 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.titt_1 {
  color: var(--Core-purple-titles, #3B2C53);
  font-family: "Josephine Cosy Bold";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 56px */
  letter-spacing: -2.8px;
  margin-bottom: 0px;

}

.tit_desc {
  color: var(--Core-purple-titles, #3B2C53);
  font-family: "Josephine Cosy";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2.8px;
  margin-bottom: 16px;

}


.text_box_odd {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 445px;
  margin-left: auto;
  margin-right: 150px;
  padding-top: 43px;
}

.text_box_even {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 445px;
  margin-left: 150px;
  margin-right: auto;
  padding-top: 43px;
}

.text_box_even_w {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 445px;
  margin-left: 150px;
  margin-right: auto;
  padding-top: 43px;
}

.how_works3 {
  background-image: url("../media/module\ -\ step\ 2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.how_works4 {
  background-image: url("../media/module\ -\ step\ 3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.how_works5 {
  background-image: url("../media/module\ -\ step\ 4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;

}

.titt_1_w {
  color: var(--Core-White, #FFF);
  font-family: "Josephine Cosy Bold";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -4px;
  margin-bottom: 16px;
}

.subit_w {
  color: var(--Core-White, #FFF);
  font-family: "Quicksand";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  /* 28.8px */
  margin-bottom: 0px;
}

.tit_desc_w {
  color: var(--Core-White, #FFF);
  font-family: "Josephine Cosy";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2.8px;
  margin-bottom: 16px;

}

.btn-yello {
  display: flex;
  height: 56px;
  padding: 16px 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--Core-yellow, #FFCE3C);
  color: var(--Core-Secondary-Purple, #5A3384);
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 0px;
  width: 100%;
  max-width: 166px;
  margin-top: 24px;
}

.btn-yello:hover {
  display: flex;
  height: 56px;
  padding: 16px 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--Core-yellow, #FFCE3C);
  color: var(--Core-Secondary-Purple, #5A3384);
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 0px;
  width: 100%;
  max-width: 166px;
  border: 5px solid #e0a800;
  /* golden border */
  cursor: pointer;
  transition: all 0.3s ease;
}


.img_chest {
  position: absolute;
  right: 214px;
  bottom: 20px;
}

/* About Us */

.about_1 {
  background-image: url("../media/ab_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 900px
}

.ab_mid_box {
  margin-top: 198px;
  max-width: 672px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.about_2 {
  background-image: url("../media/ab_2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 900px
}

.about_3 {
  background-image: url("../media/ab_3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 715px
}

.about_4 {
  background-image: url("../media/ab_4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 850px;
  margin-top: -95px;
}

.titt_smal {
  color: var(--Core-purple-titles, #3B2C53);
  text-align: center;
  font-family: "Josephine Cosy Bold";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2.8px;
  margin-bottom: 16px;
}


.btn-yello_ab {
  display: flex;
  height: 56px;
  padding: 16px 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--Core-yellow, #FFCE3C);
  color: var(--Core-Secondary-Purple, #5A3384);
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 0px;
  width: 100%;
  max-width: 218px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.btn-yello_ab:hover {
  display: flex;
  height: 56px;
  padding: 16px 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--Core-yellow, #FFCE3C);
  color: var(--Core-Secondary-Purple, #5A3384);
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 0px;
  width: 100%;
  max-width: 218px;
  border: 5px solid #e0a800;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-yello_ab2 {
  display: flex;
  height: 56px;
  padding: 16px 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--Core-yellow, #FFCE3C);
  color: var(--Core-Secondary-Purple, #5A3384);
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 0px;
  width: 100%;
  max-width: 218px;
  margin-top: 24px;
  margin-right: auto;
}

.btn-yello_ab2:hover {
  display: flex;
  height: 56px;
  padding: 16px 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--Core-yellow, #FFCE3C);
  color: var(--Core-Secondary-Purple, #5A3384);
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 0px;
  width: 100%;
  max-width: 218px;
  border: 5px solid #e0a800;
  cursor: pointer;
  transition: all 0.3s ease;
}

.titt_yellow {
  color: var(--Core-yellow, #FFCE3C);
  text-align: center;
  font-family: "Josephine Cosy Bold";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2.8px;
  margin-bottom: 16px;
}

.subit_yellow {
  color: var(--Core-White, #FFF);
  text-align: center;
  font-family: "Quicksand";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  /* 28.8px */
  margin-bottom: 0px;
}

.ab_mid_box_1 {
  margin-top: 198px;
  max-width: 672px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ab_mid_box_last {
  margin-top: 235px;
  max-width: 646px;
  margin-left: 150px;
  margin-right: auto;
  text-align: center;
}

.subit_abb {
  text-align: left;
}


/* Individual */

/* INDIVIDUAL PAGE */

.indi_page {
  padding-bottom: 0px;
  padding-top: 144px;
}

.left_img {
  display: flex;
  height: 800px;
  padding: 74px 231.846px 74px 232.846px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.imgg_box {
  border-radius: 8px;
  background: lightgray 50% / cover no-repeat;
  /* Shadow */
  box-shadow: 0 100px 80px 0 rgba(0, 0, 0, 0.07), 0 64.815px 46.852px 0 rgba(0, 0, 0, 0.05), 0 38.519px 25.481px 0 rgba(0, 0, 0, 0.04), 0 20px 13px 0 rgba(0, 0, 0, 0.04), 0 8.148px 6.519px 0 rgba(0, 0, 0, 0.03), 0 1.852px 3.148px 0 rgba(0, 0, 0, 0.02);
}


.inner_cont_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  margin-left: 80px;
  margin-right: auto;
  width: 735px;
}

.in_upper_bx {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.btn_cat {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  background-color: var(--Base-Off-Black, #0F0F0F);
  color: var(--Base-Off-White, #FAFAFA);
  text-align: center;
  font-family: "AvantGardeMdITC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 0px;
}

.btn_cat:hover {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  background-color: var(--Base-Off-Black, #0F0F0F);
  color: var(--Base-Off-White, #FAFAFA);
  text-align: center;
  font-family: "AvantGardeMdITC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 0px;
}

.right_content {
  display: flex;
  align-items: center;
  padding: 0px;
}

.indi_title {
  color: var(--Core-purple-titles, #3B2C53);
  font-family: "Josephine Cosy Bold";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 56px */
  letter-spacing: -2.8px;
  margin-bottom: 8px;
}

.joint_tit {
  color: var(--Core-yellow, #FFCE3C);
  font-family: "Josephine Cosy Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 40px */
  letter-spacing: -2px;
  margin-bottom: 0px;

}

.indi_sub {
  color: var(--Text, #667085);
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 0px;
}

.three_btns {
 display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px;
    align-self: stretch;
    flex-wrap: wrap;
}

.btn_grey {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  color: var(--Core-purple-titles, #3B2C53);
  text-align: center;
  font-family: "Quicksand";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  margin-bottom: 0px;
  border-radius: 40px !important;
  background: var(--Base-04, #F2F2F2);
}

.btn_two_bx {
  display: flex;
  align-items: center;
  gap: 24px;
}

.btn_back {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--Core-yellow, #FFCE3C);
  color: var(--Core-Secondary-Purple, #5A3384);
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 0px;

}

.btn_log {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--Core-purple-titles, #3B2C53);
  color: var(--Core-yellow, #FFCE3C);
  text-align: center;
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 22.5px */
  margin-bottom: 0px;

}


.black_line {
  display: flex;
  width: 100%;
  padding: 40px 0px;
  justify-content: center;
  align-items: center;
background-image: url(../media/sec_btm_cld.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 144px;
}

.w_tex {
  color: var(--Base-White, #FFF);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "IBM Plex Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -1px;
  text-transform: capitalize;
  margin-bottom: 0px;
}



/* Base modal container */
.forget_content2 {
  width: 526px;
  height: 602px;
  border-radius: 16px;
  background: #ffffff;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

/* Top header (as per your style guide) */
.added_cart_header {
  width: 526px;
  height: 184px;
  border-radius: var(--Edge-bev, 16px) var(--Edge-bev, 16px) 0 0;
  background: var(--Sky-Sky-dark, #D5F3FC);
  color: var(--Core-purple-titles, #3B2C53);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.log_title {
  font-family: "Josephine Cosy Bold", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2px;
  margin: 0;
}

/* Cart items */
.cart_items {
  padding: 20px 40px;
}

.item_box {
  background: #f3f7ff;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 12px;
  position: relative;
}

.item_name {
  font-size: 16px;
  color: #3b2c53;
  margin: 0;
}

.item_price {
  font-weight: 600;
  color: #3b2c53;
  margin: 0;
}

.remove_btn {
  position: absolute;
  left: 15px;
  font-size: 18px;
  color: #3b2c53;
  cursor: pointer;
}

/* Summary Section */
.cart_summary {
  padding: 10px 40px;
}

.summary_line {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #3b2c53;
  margin-bottom: 4px;
}

.savings span:last-child {
  color: #20b57b;
  font-weight: 600;
}

.total {
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
}

.total_value {
  font-weight: 700;
}

/* Buttons */
.cart_buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.btn_checkout {
  background: #3b2c53;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: 500;
  transition: 0.3s;
}

.btn_keep {
  background: #ffca2c;
  color: #3b2c53;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: 500;
  transition: 0.3s;
}

.btn_checkout:hover {
  background: #2a1f3d;
}

.btn_keep:hover {
  background: #f5b900;
}
